.container {
  max-width: 600px;
  min-width: 400px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;
    min-width: 300px;
  }
}

.timestamp {
  text-align: end;
}

.sake-title-box input {
  margin-bottom: 4px;
}

.log-contents textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
}

button.done::after {
  content: "\2714";
}

[v-cloak] {
  display: none;
}
